<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>vc</key>
		<string>ViewControllerOne</string>
	</dict>
	<key>1</key>
	<dict>
		<key>vc</key>
		<string>ViewControllerTwo</string>
	</dict>
</dict>
</plist>
